extends layout

block content
    if data == null
        h1 No Content
    else
        each list in data
            a(href=list.id)
                .panel.panel-default
                    .panel-heading
                        = list.name 
                    .panel-body
                        = list.user_name